<div class="container">
    <div class="row">
        <div class="col-6">
    
        <form [formGroup] ="insertFrm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="id">Item ID</label>
                <input type="text" class="form-control" from aria-describedby="UserNameHelp" placeholder="Enter ID" formControlName="id" >
                <div *ngIf="insertFrm.controls['id'].hasError('required') && (insertFrm.controls['id'].dirty||insertFrm.controls['id'].touched)">
                    <small *ngIf="insertFrm.controls['id'].hasError('required')" class="text-danger">id is required.</small>
                </div>
            </div>

            <div class="form-group">
                <label for="name">Item name</label>
                <input type="text" class="form-control" from aria-describedby="UserNameHelp" placeholder="Enter name" formControlName="name" >
                <div *ngIf="insertFrm.controls['name'].hasError('required') && (insertFrm.controls['name'].dirty||insertFrm.controls['name'].touched)">
                    <small *ngIf="insertFrm.controls['name'].hasError('required')" class="text-danger">id is required.</small>
                </div>
            </div>

            <!-- <div class="form-group">
                <label for="price">Item price</label>
                <input type="text" class="form-control" from aria-describedby="UserNameHelp" placeholder="Enter price" formControlName="price" >
                <div *ngIf="insertFrm.controls['price'].hasError('required') && (insertFrm.controls['price'].dirty||insertFrm.controls['price'].touched)">
                    <small *ngIf="insertFrm.controls['price'].hasError('required')" class="text-danger">id is required.</small>
                </div>
            </div> -->

            <input type="submit" class="btn btn-primary" [disabled]="!insertFrm.valid" value="Insert">
        </form>
    </div>
</div>
</div>